{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    // 允许导入 CommonJS 模块
    "@babel/plugin-transform-modules-commonjs"
  ]
}